global:
  resolve_timeout: 5m

route:
  receiver: slack
  group_by: ['alertname']
  group_wait: 30s
  group_interval: 5m
  repeat_interval: 2h

receivers:
  - name: slack
    slack_configs:
      - api_url: ${SLACK_WEBHOOK_URL}
        channel: '#alerts'
        username: 'LugnTrygg Alertmanager'
        send_resolved: true
        title: '{{ template "slack.lugntrygg.title" . }}'
        text: '{{ template "slack.lugntrygg.body" . }}'
  - name: pagerduty
    pagerduty_configs:
      - routing_key: ${PAGERDUTY_SERVICE_KEY}
        send_resolved: true

inhibit_rules:
  - source_matchers:
      - severity = critical
    target_matchers:
      - severity = warning
    equal: ['alertname']

templates:
  - '/etc/alertmanager/templates/*.tmpl'
