# Ignorera virtuella miljöer
venv/
Backend/venv/
frontend/.env

# Ignorera pycache-kataloger
**/__pycache__/
**/*.pyc
# Ignorera node_modules i frontend och backend
Backend/node_modules/
.vs/

# Ignorera känsliga nyckelfiler
serviceAccountKey.json
Backend/serviceAccountKey.json

# Ignorera miljöfiler
.env
Backend/.env
app.log
frontend/.vite/

# Ignorera node_modules i frontend och backend
frontend/node_modules/
Backend/node_modules/

# Ignorera byggfiler för frontend
frontend/dist/
frontend/build/
frontend/.cache/

# Ignorera systemfiler
.DS_Store
Thumbs.db
